@page "/floodreport/contacts"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<h1 class="govuk-heading-l">@Title</h1>

<AuthorizeView Context="authContext">
    <NotAuthorized>
        <GdsInsetText Text="You are not logged in so you can add further contacts but not edit after you leave the site."></GdsInsetText>
    </NotAuthorized>
</AuthorizeView>

@if (_isLoading)
{
    <GdsSpinner Show="_isLoading" />
}
else if (_floodReportId == Guid.Empty)
{
    <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <span>Sorry there was a problem setting up contacts. Please try again but if this issue happens again then please report a bug.</span>
    </p>
}
else
{
    <p>You can choose add further contacts at this point but please note they will all recieve notifications about this report.</p>

    <p>
        <a href="@FloodReportPages.Overview.Url" role="button" draggable="false" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
            Save your contacts
        </a>
    </p>

    <div class="govuk-grid-row">
        
    <AuthorizeView Context="authContext">
        <NotAuthorized>
            <h2 class="govuk-heading-m">Contacts</h2>

            @foreach (var contactModel in _contactModels)
            {
                <ContactInformation Contact="@contactModel" SummaryCard="true" />
            }

            

            <div class="govuk-grid-column-two-thirds">
                @if (_numberOfUnusedRecordTypes > 0)
                {
                    <a href="@ContactPages.Create.Url" role="button" draggable="false" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                        Add another contact
                    </a>
                }
            </div>
        </NotAuthorized>
        <Authorized>
                <div class="govuk-grid-column-two-thirds">
                    @if (_contactModels.Count == 0)
                    {
                        <p>Give us your contact details if you would like to:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>recieve updates</li>
                            <li>check the progress of your application</li>
                            <li>reset your login details</li>
                        </ul>

                        <a href="@ContactPages.Create.Url" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                            New contact
                            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                            </svg>
                        </a>
                    }
                    else
                    {
                        <p>Change your contact details if you would like to:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>recieve updates</li>
                            <li>check the progress of your application</li>
                            <li>reset your login details</li>
                            <li>update your contact information</li>
                            <li>provide temporary contact information</li>
                        </ul>

                        <h2 class="govuk-heading-m">Contacts</h2>

                        @foreach (var contactModel in _contactModels)
                        {
                            <ContactInformation Contact="@contactModel" SummaryCard="true" />
                        }

                        if (_numberOfUnusedRecordTypes > 0)
                        {
                            <a href="@ContactPages.Create.Url" role="button" draggable="false" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                                Add another contact
                            </a>
                        }
                    }
                </div>
        </Authorized>
    </AuthorizeView>
    </div>
}