@page "/floodreport/contacts/summary"
@using FloodOnlineReportingTool.Public.Models.FloodReport.Contact
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<h1 class="govuk-heading-l">@Title</h1>

<EditForm EditContext="_editContext" OnSubmit="OnSubmit" FormName="Summary">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    @if (!_isLoading)
    {
        @foreach (ContactModel contact in _contactModels)
        {
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">
                        Display Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(contact.ContactName ?? "Not given")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a draggable="false" data-prevent-double-click="true" href="@(ContactPages.Change.Url)?ContactId=@contact.Id" class="govuk-link">Change<span class="govuk-visually-hidden"> display name</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">
                        Email Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(contact.EmailAddress ?? "Not given")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a draggable="false" data-prevent-double-click="true" href="@(ContactPages.Change.Url)?ContactId=@contact.Id" class="govuk-link">Change<span class="govuk-visually-hidden"> email address</span></a>
                    </dd>
                </div>
                <AuthorizeView Context="authContext">
                    <Authorized>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">
                                Phone Number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @(Model.PhoneNumber ?? "Not given")
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a draggable="false" data-prevent-double-click="true" href="@(ContactPages.Change.Url)?ContactId=@contact.Id" class="govuk-link">Change<span class="govuk-visually-hidden"> phone number</span></a>
                            </dd>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </dl>
        }
        
        <AuthorizeView Context="authContext">
            <Authorized>
                @if (_numberOfUnusedRecordTypes > 0)
                {
                    <p><a href="@ContactPages.Create.Url" role="button" draggable="false" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                        Add additional contacts
                    </a></p>
                }
            </Authorized>
        </AuthorizeView>

        <h2 class="govuk-heading-l">Finalise your subscriptions</h2>

        <p>
            By confirming your subscription, you agree to receive updates about your report.
            Emails will be sent to your nominated address and will include an option to unsubscribe.
            Subscriptions expire after 6 months unless extended by a flood risk organisation.
            Adding contacts does not guarantee phone or email contact.
        </p>

        <AuthorizeView Context="authContext">
            <Authorized>
                <p><strong>You confirm that you have permission to provide contact details for any additional contacts.</strong></p>
                <p>You can use this login to return to the site and manage your report until it expires and personal data is removed.</p>
            </Authorized>
            <NotAuthorized>
                <p>You cannot update your record but may be asked for more information if needed.</p>
            </NotAuthorized>
        </AuthorizeView>
        <p>An email notification of your report will be forwarded to your nominated emails once you subscribe.</p>
        
        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Subscribe and email</button>
    }
</EditForm>


