@page "/account/register"

<PageTitle>@Title</PageTitle>

<h1 class="govuk-heading-xl">@Title</h1>

<EditForm EditContext="_editContext" OnSubmit="Submit" FormName="Register">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <GdsFormGroup For="@(() => Model.Email)">
                <GdsLabel Text="Email address" />
                <GdsHint>We'll only use this to send you updates.</GdsHint>
                <GdsErrorMessage />
                <GdsInputText @bind-Value=Model.Email type="email" spellcheck="false" autocomplete="email" class="govuk-input govuk-!-width-one-half" />
            </GdsFormGroup>

            <GdsFormGroup For="@(() => Model.Password)">
                <GdsLabel Text="Password" />
                <GdsErrorMessage />
                <GdsInputText @bind-Value=Model.Password type="password" spellcheck="false" autocomplete="current-password" class="govuk-input govuk-!-width-one-half" />
            </GdsFormGroup>

            <GdsFormGroup For="@(() => Model.ConfirmPassword)">
                <GdsLabel Text="Confirm your password" />
                <GdsErrorMessage />
                <GdsInputText @bind-Value=Model.ConfirmPassword type="password" spellcheck="false" autocomplete="confirm-password" class="govuk-input govuk-!-width-one-half" />
            </GdsFormGroup>
        </div>
    </div>

    <p><button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Register</button></p>
</EditForm>