@page "/account/signin"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@Title</PageTitle>

<h1 class="govuk-heading-xl">@Title</h1>

<AuthorizeView Context="authContext">
    <Authorized>
        <div>You are already signed in.</div>
    </Authorized>
    <NotAuthorized>
        <EditForm EditContext="_editContext" OnSubmit="Submit" FormName="SignIn">
            <FluentValidationValidator />
            <GdsErrorSummary />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <GdsFormGroup For="@(() => Model.Email)">
                        <GdsLabel Text="Email address" />
                        <GdsErrorMessage />
                        <GdsInputText @bind-Value=Model.Email type="email" spellcheck="false" autocomplete="email" class="govuk-input govuk-!-width-one-half" />
                    </GdsFormGroup>

                    <GdsFormGroup For="@(() => Model.Password)" AdditionalCssClasses="govuk-password-input" DataModule="govuk-password-input">
                        <GdsLabel Text="Password" />
                        <GdsErrorMessage />
                        <div class="govuk-input__wrapper govuk-password-input__wrapper">
                            <GdsInputText @bind-Value=Model.Password type="password" autocomplete="current-password" autocapitalize="none" class="govuk-input govuk-!-width-one-half govuk-password-input__input govuk-js-password-input-input" />
                            <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password" aria-label="Show password" hidden>
                                Show
                            </button>
                        </div>
                    </GdsFormGroup>

                    <GdsFormGroup For="@(() => Model.RememberMe)" Id="remember-me">
                        <GdsErrorMessage />
                        <GdsCheckboxes Options="_rememberMeOptions" Smaller="true" />
                    </GdsFormGroup>
                </div>
            </div>

            <p><button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Sign in</button></p>

            <div>
                <p><a href="@_forgotPasswordUrl" class="govuk-link">Forgot your password?</a></p>
                <p><a href="@_registerUrl" class="govuk-link">Register</a></p>
                <p><a href="@_resendEmailUrl" class="govuk-link">Resend email confirmation</a></p>
            </div>
        </EditForm>
    </NotAuthorized>
</AuthorizeView>
