@page "/floodreport/overview/details/{FloodReportId:guid?}"
@page "/floodreport/overview/details/{FloodReportReference?}"

@using FloodOnlineReportingTool.Public.Authentication
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@FloodReportPages.Details.Title</PageTitle>

<GdsBackLink Href="@FloodReportPages.Overview.Url" />

<h1 class="govuk-heading-xl">@FloodReportPages.Details.Title</h1>

@if (FloodReportId is null && string.IsNullOrWhiteSpace(FloodReportReference))
{
    <GdsWarning Text="A flood report ID or reference is needed to view the details." />
}
else
{
    <AuthorizeView Policy="@PolicyNames.Admin">
        <Authorized>
            <OverviewDetailsAdmin FloodReportId="@FloodReportId" FloodReportReference="@FloodReportReference" />
        </Authorized>
        <NotAuthorized>
            <AuthorizeView Policy="@PolicyNames.Reader" Context="userContext">
                <Authorized>
                    <OverviewDetailsUser FloodReportId="@FloodReportId" FloodReportReference="@FloodReportReference" />
                </Authorized>
                <NotAuthorized>
                    <OverviewDetailsAnonymous />
                </NotAuthorized>
            </AuthorizeView>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public Guid? FloodReportId { get; set; }

    [Parameter]
    public string? FloodReportReference { get; set; }
}