@page "/floodreport/overview/details/{FloodReportSourceId:guid?}"
@page "/floodreport/overview/details/{FloodReportSourceReference?}"

@using FloodOnlineReportingTool.Public.Authentication
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@FloodReportPages.Details.Title</PageTitle>

<GdsBackLink Href="@FloodReportPages.Overview.Url" />

<h1 class="govuk-heading-xl">@FloodReportPages.Details.Title</h1>

@if (FloodReportSourceId is null && string.IsNullOrWhiteSpace(FloodReportSourceReference))
{
    <GdsWarning Text="A flood report ID or reference is needed to view the details." />
}
else
{
    <AuthorizeView Policy="@PolicyNames.Admin">
        <Authorized>
            <OverviewDetailsAdmin FloodReportSourceId="@FloodReportSourceId" FloodReportSourceReference="@FloodReportSourceReference" />
        </Authorized>
        <NotAuthorized>
            <AuthorizeView Policy="@PolicyNames.Reader" Context="userContext">
                <Authorized>
                    <OverviewDetailsUser FloodReportSourceId="@FloodReportSourceId" FloodReportSourceReference="@FloodReportSourceReference" />
                </Authorized>
                <NotAuthorized>
                    <OverviewDetailsAnonymous />
                </NotAuthorized>
            </AuthorizeView>
        </NotAuthorized>
    </AuthorizeView>
}

@code {
    [Parameter]
    public Guid? FloodReportSourceId { get; set; }

    [Parameter]
    public string? FloodReportSourceReference { get; set; }
}