@page "/floodreport/overview"
@using FloodOnlineReportingTool.Contracts.Shared
@using FloodOnlineReportingTool.Public.Authentication
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@FloodReportPages.Overview.Title</PageTitle>

<GdsBreadcrumbs Items="@([GeneralPages.Home.ToGdsBreadcrumb()])" />

@{
    RenderFragment tableColumnFragment =
    @<div class="govuk-grid-column-full">
        <ul class="govuk-list">
            <li>@_manageText</li>
            <li>Use the actions next to each flood report to:
                <ul class="govuk-list govuk-list--bullet">
                    <li>view the flood report</li>
                    <li>change the flood report</li>
                    <li>view contact information</li>
                </ul>
            </li>
        </ul>

        <GdsTable T="Database.Models.Flood.FloodReport" Items="@_floodReports" Caption="@_tableCaption" CaptionSize="GdsTableCaptionSize.Large" Density="GdsTableDensity.SmallTextUntilTablet">
            <HeaderContent>
                <GdsTableTh>Reference</GdsTableTh>
                <GdsTableTh>Status</GdsTableTh>
                <GdsTableTh>Date reported</GdsTableTh>
                <GdsTableTh>Address</GdsTableTh>
                <GdsTableTh>Flooding date</GdsTableTh>
                <GdsTableTh>Actions</GdsTableTh>
            </HeaderContent>
            <RowTemplate Context="item">
                <GdsTableTd Value="@item.Reference" />
                <GdsTableTd>
                    @{
                        var statusText = item.Status?.Text ?? "Unknown";

                        if (item.StatusId == RecordStatusIds.ActionNeeded)
                        {
                            <GdsTag Colour="GdsTagColour.Yellow" Text="@statusText" />
                        }
                        else if (item.StatusId == RecordStatusIds.MarkedForDeletion)
                        {
                            <GdsTag Colour="GdsTagColour.Red" Text="@statusText" />
                        }
                        else
                        {
                            <GdsTag Colour="GdsTagColour.Green" Text="@statusText" />
                        }
                    }
                </GdsTableTd>
                <GdsTableTd Value="@item.CreatedUtc.GdsReadable()" />
                <GdsTableTd Value="@item.EligibilityCheck?.LocationDesc" />
                <GdsTableTd Value="@item.EligibilityCheck?.ImpactStart.GdsReadable()" />
                <GdsTableTd>
                    <ul class="govuk-list">
                        <li>
                            <a class="govuk-link" href="@($"{FloodReportPages.Details.Url}/{item.Id}")">View<span class="govuk-visually-hidden"> flood report</span></a>
                        </li>
                        @if (item.EligibilityCheckId.HasValue)
                        {
                            <li>
                                <a class="govuk-link" href="@($"{FloodReportPages.Update.Url}/{item.EligibilityCheckId.Value}")">Update<span class="govuk-visually-hidden"> flood report</span></a>
                            </li>
                        }
                        <li>
                            <a class="govuk-link" href="@($"{ContactPages.Summary.Url}/{item.Id}")">Contacts<span class="govuk-visually-hidden"> information</span></a>
                        </li>
                        @if (item.StatusId == RecordStatusIds.ActionNeeded)
                        {
                            <li>
                                <a class="govuk-link" href="@($"{InvestigationPages.Home.Url}/{item.Id}")">Tell us more</a>
                            </li>
                        }
                    </ul>
                </GdsTableTd>
            </RowTemplate>
        </GdsTable>
    </div>;
}

@if (_isLoading)
{
    <GdsSpinner Show />
}
else
{
    <h1 class="govuk-heading-xl">@_h1TitleText</h1>
    <div class="govuk-grid-row">
        <AuthorizeView>
            <NotAuthorized>
                @if (_floodReports.Count == 0)
                {
                    <div class="govuk-grid-column-full">
                        <GdsWarning Text="You need to sign in to view and manage your flood reports." />
                        <a role="button" draggable="false" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" href="@_signInUrl">@AccountPages.SignIn.Title</a>
                    </div>
                }
                else
                {
                    @tableColumnFragment
                }
            </NotAuthorized>

            <Authorized>
                @if (_floodReports.Count == 0)
                {
                    <div class="govuk-grid-column-full">
                        <GdsWarning Text="@_noneFoundText" />
                    </div>
                }
                else
                {
                    @tableColumnFragment
                }
            </Authorized>
        </AuthorizeView>
    </div>
}
