@page "/floodreport/update/{eligibilityCheckId:guid}"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="@Breadcrumbs" />

<h1 class="govuk-heading-xl">@Title</h1>

<AuthorizeView Context="authContext">
    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>
    <Authorized>
        @if (_updateModel == null)
        {
            <GdsWarning Text="Flood report not found" />
            <div><a draggable="false" data-prevent-double-click="true" class="govuk-link" href="@FloodReportPages.Overview.Url">@FloodReportPages.Overview.Title</a></div>
        }
        else
        {
            <EditForm EditContext="_editContext" OnSubmit="OnSubmit" FormName="UpdateEligibilityCheck">
                <FluentValidationValidator />
                <GdsErrorSummary />

                <GdsWarning Text="To do..." />

                <div>Created: @_updateModel.CreatedUtc.GdsReadable()</div>
                @if (_updateModel.UpdatedUtc != null)
                {
                    <div>Updated: @_updateModel.UpdatedUtc.GdsReadable()</div>
                }

                <GdsFormGroup For="() => _updateModel.UprnText">
                    <GdsLabel Text="UPRN" />
                    <GdsErrorMessage />
                    <GdsInputNumber @bind-Value="_updateModel.UprnText" @bind-NumberValue="_updateModel.UprnNumber" class="govuk-input" />
                </GdsFormGroup>

                <GdsFormGroup For="() => _updateModel.EastingText">
                    <GdsLabel Text="Easting" />
                    <GdsErrorMessage />
                    <GdsInputNumber @bind-Value="_updateModel.EastingText" @bind-NumberValue="_updateModel.EastingNumber" class="govuk-input" />
                </GdsFormGroup>

                <GdsFormGroup For="() => _updateModel.NorthingText">
                    <GdsLabel Text="Northing" />
                    <GdsErrorMessage />
                    <GdsInputNumber @bind-Value="_updateModel.NorthingText" @bind-NumberValue="_updateModel.NorthingNumber" class="govuk-input" />
                </GdsFormGroup>

                <GdsFormGroup For="() => _updateModel.LocationDesc">
                    <GdsLabel Text="Location description" />
                    <GdsErrorMessage />
                    <GdsInputText @bind-Value="_updateModel.LocationDesc" class="govuk-input" />
                </GdsFormGroup>
            </EditForm>
        }
    </Authorized>
</AuthorizeView>