@page "/floodreport/create/confirmation"
@using FloodOnlineReportingTool.Database.Models
@using FloodOnlineReportingTool.Database.Models.Eligibility
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<GdsSpinner Show="_isLoading" />

@if (_loadingError)
{
    <h1 class="govuk-heading-xl">@Title</h1>
    <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <span>Sorry there was a problem completing your flood report. Please try again but if this issue happens again then please report a bug.</span>
    </p>
}

@if (!_isLoading && string.IsNullOrWhiteSpace(Reference))
{
    <h1 class="govuk-heading-xl">@Title</h1>
    <p class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> <span>The flood report reference was missing from the URL. Please try again but if this issue happens again then please report a bug.</span>
    </p>
}

@if (!_isLoading && !_loadingError)
{

    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">@Title</h1>
        <div class="govuk-panel__body">Basic details of the flooding have been recorded.</div>
    </div>

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Stage 1 - Report and check</h2>
                <ul class="govuk-task-list">
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <div aria-describedby="report-and-check-1-status">
                                Report and check next steps
                            </div>
                            <div id="report-and-check-1-hint" class="govuk-task-list__hint">
                                Your report will now be visible to the appropriate organisations and they will act on them according to thier policies.
                            </div>
                        </div>
                        <div class="govuk-task-list__status" id="report-and-check-1-status">
                            Completed
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Stage 2 - Managing your report</h2>
                <ul class="govuk-task-list">
                    @if (_hasContactInformation)
                    {
                        <li class="govuk-task-list__item govuk-task-list__item--with-link" aria-describedby="report-and-check-2-contacts">
                            <div class="govuk-task-list__name-and-hint">
                                Configuring subscriptions and methods for getting updates.
                            </div>
                            <div class="govuk-task-list__status" id="report-and-check-2-contacts">
                                Completed
                            </div>
                        </li>
                    }
                    else
                    {
                        <AuthorizeView>
                            <Authorized>
                                <li class="govuk-task-list__item govuk-task-list__item--with-link" aria-describedby="report-and-check-2-contacts">
                                    <div class="govuk-task-list__name-and-hint">
                                        <a href="@($"{SubscriptionPages.Home.Url}?Me=true&Owns=true")" class="govuk-link govuk-task-list__link govuk-link--no-visited-state">Manage ways subscriptions</a>
                                    </div>
                                    <div class="govuk-task-list__status">
                                        <strong class="govuk-tag govuk-tag--blue" id="report-and-check-2-contacts">
                                            Incomplete
                                        </strong>
                                    </div>
                                </li>
                            </Authorized>
                            <NotAuthorized>

                                <li class="govuk-task-list__item govuk-task-list__item--with-link" aria-describedby="report-and-check-2-contacts">
                                    <div class="govuk-task-list__name-and-hint">
                                        <a href="signin?redirectUri=@($"{ContactPages.Summary.Url}")" class="govuk-link govuk-task-list__link govuk-link--no-visited-state">Register/Login</a> to manage your report
                                        <div id="report-and-check-2-contacts-login-hint" class="govuk-task-list__hint">
                                            You will be allowed to login and manage your notifications and reports on this website.
                                        </div>
                                    </div>
                                    <div class="govuk-task-list__status">
                                        <strong class="govuk-tag govuk-tag--blue" id="report-and-check-2-contacts">
                                            Incomplete
                                        </strong>
                                    </div>
                                </li>
                                <li class="govuk-task-list__item govuk-task-list__item--with-link" aria-describedby="report-and-check-2-contacts">
                                    <div class="govuk-task-list__name-and-hint">
                                        Alternatively, <a href="@($"{SubscriptionPages.Home.Url}?Owns=true")" class="govuk-link govuk-task-list__link govuk-link--no-visited-state">Subscribe</a> for updates only.
                                        <div id="report-and-check-2-contacts-subscription-hint" class="govuk-task-list__hint">
                                            You can't update your report but may be contacted with updates or further information.
                                        </div>
                                    </div>
                                    <div class="govuk-task-list__status">
                                        <strong class="govuk-tag govuk-tag--blue" id="report-and-check-2-contacts">
                                            Incomplete
                                        </strong>
                                    </div>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView>
                    }
                </ul>    
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Stage 3 - Investigation</h2>
                <ul class="govuk-task-list">
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <div aria-describedby="investigation-1-start">
                                Submit full report for investigation
                            </div>
                            <div id="investigation-1-hint" class="govuk-task-list__hint">
                                Will be requested if required and you provided an email.
                            </div>
                        </div>
                        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="investigation-1-start">
                            Cannot start yet
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <div aria-describedby="investigation-2-result">
                                Investigation status
                            </div>
                        </div>
                        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="investigation-2-result">
                                Cannot start yet
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <section id="what-happens-next">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <h2 class="govuk-heading-l">What happens next</h2>

            @if (_hasContactInformation)
            {
                <p>Your contact details will be used to provide you with updates if you are subscribed to get them</p>
                <p>
                    <a draggable="false" data-prevent-double-click="true" class="govuk-link" href="@ContactPages.Summary.Url">Change your contact information</a>
                </p>
            }
            else
            {
                <p>You need to give us contact details if want to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>recieve updates</li>
                    <li>speed up applications for any support that may be available</li>
                </ul>
                <p>Using an account is the best way to manage your record and allows you to edit the information you have provided.</p>
                <p>
                    <button type="button" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" href="@AccountPages.SignIn.Url">Register / Sign in</button>          
                </p>
                <p>
                    If you don't wish to use an account you can 
                    <a draggable="false" data-prevent-double-click="true" class="govuk-link" href="@ContactPages.Create.Url">add contact information</a>
                    but <i>you can't edit your record once saved</i>.
                </p>
                <p>If registered, you can edit your record and provide updates for 6 months after which editing will be closed.</p>
                <p>Your contact details will then be removed after 18 months.</p>
            }
        </main>
    </section>

    <section id="further-information">
        <h2 class="govuk-heading-l">Further Information</h2>

        <p>Find out more about <a draggable="false" data-prevent-double-click="true" target="_blank" class="govuk-link" href="https://www.gov.uk/after-flood">what to do after a flood</a>.</p>

    </section>
}