@page "/floodreport/create/photos-and-videos"
@using FloodOnlineReportingTool.Public.Models.Media
@using System.Globalization

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<h1 class="govuk-heading-xl">@Title</h1>

<p>Upload some photos or videos that show the flooding or damage caused. </p>
<p>You can upload up to 5 files at once, maximum of 20MB per file.</p>
<p>If you don't have any files to add, you can <a href="@(FloodReportCreatePages.Summary.Url)">skip this section</a></p>

<EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit" FormName="Media">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    <GdsFormGroup For="() => Model.UploadedFiles">
        <GdsLabel Text="Add photos or videos" />
        <GdsErrorMessage />
        <GdsFileInput
            IsBusy="@_isLoading"
            OnFilesSubmitted="OnFilesSubmitted" />
    </GdsFormGroup>


    @if((Model.UploadedFiles is not null && Model.UploadedFiles.Count != 0) || (_uploadingFiles is not null && _uploadingFiles.Count != 0) || (_rejectedFiles is not null && _rejectedFiles.Count != 0))
    {
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">File</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var file in _uploadingFiles)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@file.Name</td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--blue">
                                Uploading
                            </strong>
                        </td>
                        <td class="govuk-table__cell">
                        </td>
                    </tr>
                }
                @foreach (var file in Model.UploadedFiles)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@file.Name</td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--green">
                                Uploaded
                            </strong>
                        </td>
                        <td class="govuk-table__cell">
                            <button type="button" class="govuk-button govuk-button--secondary" @onclick="() => DeleteUploadedFile(file)">Delete file</button>
                        </td>
                    </tr>
                }
                @foreach (var rejectedFile in _rejectedFiles)
                {
                    var errorMessage = GetErrorMessageForFile(rejectedFile);
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@rejectedFile.File.Name<br /><span class="govuk-error-message">@errorMessage</span></td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--red">
                                Rejected
                            </strong>
                        </td>
                        <td class="govuk-table__cell">
                            <button type="button" class="govuk-button govuk-button--secondary" @onclick="() => DeleteRejectedFile(rejectedFile)">Delete file</button>
                        </td>
                    </tr>
                }
            </tbody>
       
        </table>
    }
    @if (!_isLoading)
    {
        <p><button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Continue</button></p>
    }
</EditForm>
