@page "/floodreport/create/summary"
@using FloodOnlineReportingTool.Contracts.Shared

<PageTitle>@FloodReportCreatePages.Summary.Title</PageTitle>

<GdsBreadcrumbs Items="@_breadcrumbs" />

<h1 class="govuk-heading-xl">@FloodReportCreatePages.Summary.Title</h1>

@if (_isLoading)
{
    <GdsSpinner Show ShowMessage />
}
else if (_eligibilityCheckDto is not null)
{
    @if (_validationFailures.Count > 0)
    {
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>Your flood report information is not complete. Please check the information below and complete any missing information.</li>
                    </ul>
                </div>
            </div>
        </div>
    }

    <h2 class="govuk-heading-l">Property details</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Postal address</dt>
            @SummaryValue(_eligibilityCheckDto.IsAddress ? Yes : No, FloodReportCreatePages.Home)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.Home.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> location type</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Address or location</dt>
            @if (_eligibilityCheckDto.IsAddress)
            {
                @SummaryValue(_eligibilityCheckDto.LocationDesc, FloodReportCreatePages.Address)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.Address.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> address</span></a>
                </dd>
            }
            else
            {
                @SummaryValue(_eligibilityCheckDto.LocationDesc, FloodReportCreatePages.Location)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.Location.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> location</span></a>
                </dd>
            }
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Property type</dt>
            @SummaryValue(_propertyTypeLabel, FloodReportCreatePages.PropertyType)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.PropertyType.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> property type</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Areas flooded</dt>
            @SummaryValues(_floodedAreaLabels, FloodReportCreatePages.FloodAreas)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.FloodAreas.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> which areas of the property were flooded</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Evacuation</dt>
            @SummaryValue(_isUninhabitableLabel, FloodReportCreatePages.FloodAreas)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.FloodAreas.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> whether you evactuated the property</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Temporary address</dt>
            @SummaryValue(_eligibilityCheckDto.TemporaryLocationDesc, FloodReportCreatePages.TemporaryAddress)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.TemporaryAddress.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> temporary address</span></a>
            </dd>
        </div>
    </dl>

    <h2 class="govuk-heading-l">Flood details</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">The flooding started on</dt>
            @SummaryValue(_eligibilityCheckDto.ImpactStart.GdsReadable(), FloodReportCreatePages.FloodStarted)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.FloodStarted.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> when the flooding started</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Still flooding</dt>
            @SummaryValue(_eligibilityCheckDto.OnGoing ? Yes : No, FloodReportCreatePages.FloodStarted)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.FloodStarted.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if you are still flooded</span></a>
            </dd>
        </div>

        @if (!_eligibilityCheckDto.OnGoing)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Flooding lasted</dt>
                @SummaryValue(_floodingLastedLabel, FloodReportCreatePages.FloodDuration)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.FloodDuration.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how long the flooding lasted</span></a>
                </dd>
            </div>
        }

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Vulnerable people affected</dt>
            @SummaryValue(_vulnerablePeopleLabel, FloodReportCreatePages.Vulnerability)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.Vulnerability.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> the number of vulnerable people reported</span></a>
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Flood source</dt>
            @SummaryValues(_sourceLabels, FloodReportCreatePages.FloodSource)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.FloodSource.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> the source of the flooding</span></a>
            </dd>
        </div>

        @if (_eligibilityCheckDto.Sources.Contains(PrimaryCauseIds.RainwaterFlowingOverTheGround))
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Runoff source</dt>
                @SummaryValues(_secondarySourceLabels, FloodReportCreatePages.FloodSecondarySource)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(FloodReportCreatePages.FloodSecondarySource.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> the source of runoff</span></a>
                </dd>
            </div>
        }
    </dl>

    @if (_validationFailures.Count == 0)
    {
        <h2 class="govuk-heading-l">Now send your flood report</h2>
        <p>By submitting this form, you confirm that the information you’re providing is accurate to the best of your knowledge.</p>
        <p>Your input will help flood authorities build a clearer picture of where and when flooding has occurred. This contributes to a better understanding of flood patterns and supports future planning and response efforts.</p>
        <p>Flooding reports will be stored as part of a historical record. Since no personal data is collected at this stage, entries will only be removed if they are found to be factually incorrect.</p>
        <p><button type="button" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" @onclick="OnAcceptAndSend">Accept and send</button></p>
    }
}

@code {
    private RenderFragment SummaryValue(string? label, PageInfo pageInfo)
    {
        if (label is null)
        {
            return @<dd class="govuk-summary-list__value govuk-error-message">missing information</dd>;
        }

        var hasFailures = _validationFailures.Exists(failure => failure.CustomState.Equals(pageInfo));
        return hasFailures
            ? @<dd class="govuk-summary-list__value govuk-error-message">missing information</dd>
            : @<dd class="govuk-summary-list__value">@label</dd>;
    }

    private RenderFragment SummaryValues(string[] labels, PageInfo pageInfo)
    {
        if (labels.Length == 0)
        {
            return @<dd class="govuk-summary-list__value govuk-error-message">missing information</dd>;
        }

        var hasFailures = _validationFailures.Exists(failure => failure.CustomState.Equals(pageInfo));
        return hasFailures
            ? @<dd class="govuk-summary-list__value govuk-error-message">missing information</dd>
            : @<dd class="govuk-summary-list__value">
            <ul class="govuk-list">
                @foreach (var label in labels)
                {
                    <li>@label</li>
                }
            </ul>
        </dd>;
    }
}