@page "/floodreport/create/summary"

<PageTitle>@FloodReportCreatePages.Summary.Title</PageTitle>

<GdsBreadcrumbs Items="@_breadcrumbs" />

<h1 class="govuk-heading-xl">@FloodReportCreatePages.Summary.Title</h1>

@if (_isLoading)
{
    <GdsSpinner Show ShowMessage />
}
else
{
    @if (_summaryError is not null)
    {
        <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
                <h2 class="govuk-error-summary__title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <li>@_summaryError</li>
                    </ul>
                </div>
            </div>
        </div>
    }

    <EligibilityCheckSummary Dto="@_eligibilityCheckDto" ValidationStatusChanged="OnValidationStatusChanged" ShowId />

    @if (_summaryError is null)
    {
        <h2 class="govuk-heading-l">Now send your flood report</h2>
        <p>By submitting this form, you confirm that the information you’re providing is accurate to the best of your knowledge.</p>
        <p>Your input will help flood authorities build a clearer picture of where and when flooding has occurred. This contributes to a better understanding of flood patterns and supports future planning and response efforts.</p>
        <p>Flooding reports will be stored as part of a historical record. Since no personal data is collected at this stage, entries will only be removed if they are found to be factually incorrect.</p>
        <p><button type="button" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" @onclick="OnAcceptAndSend">Accept and send</button></p>
    }
}
