@page "/floodreport/create/temporarypostcode"
@using FloodOnlineReportingTool.Public.Components.Pagination

<PageTitle>@Title</PageTitle>

<GdsBreadcrumbs Items="Breadcrumbs" />

<EditForm EditContext="editContext" FormName="CreateFloodReport">
    <FluentValidationValidator />
    <GdsErrorSummary />

    <GdsSpinner Show="_isLoading" ShowMessage="true" />

    <GdsFormGroup For="() => Model.PostcodeKnown" Id="location-or-address" Show="!_isLoading">
        <InputRadioGroup @bind-Value="Model.PostcodeKnown">
            <GdsFieldsetGroup>
                <Heading>
                    <h1 class="govuk-fieldset__heading">(Optional) Would you like to log where you are staying?</h1>
                </Heading>
                <Content>
                    <GdsHint>Select one option and provide a postcode if required.</GdsHint>
                    <GdsErrorMessage />
                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach (var option in _postcodeKnownOptions)
                        {
                            var conditionalId = option.Value ? "conditional-known" : null;
                            <GdsRadio Option="option" ConditionalId="@conditionalId" />
                            if (conditionalId != null)
                            {
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="@conditionalId">
                                    <GdsFormGroup For="@(() => Model.Postcode)">
                                        <GdsLabel Text="Please provide the postcode for the property if known" />
                                        <GdsErrorMessage />
                                        <GdsInputText @bind-Value=Model.Postcode class="govuk-input govuk-input--width-10" autocomplete="postal-code" />
                                    </GdsFormGroup>
                                </div>
                            }
                        }
                    </div>
                </Content>
            </GdsFieldsetGroup>
        </InputRadioGroup>
    </GdsFormGroup>

    @if (!_isLoading)
    {
        <PaginationBlock>
            <PaginationNext OnNextPage="() => OnValidSubmit(true)" Label="@GetNextPage().Title" />
            <PaginationPrevious OnPreviousPage="() => OnValidSubmit(false)" Label="@FloodReportCreatePages.FloodAreas.Title" />
        </PaginationBlock>
    }

</EditForm>