<!DOCTYPE html>
<html lang="en-GB" class="govuk-template">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <PageTitle>Report Flooding</PageTitle>
    <base href="@_pathBase" />
    <Favicons />
    <link rel="stylesheet" href="@Assets["_content/Dorset-Council-UK.GdsBlazorComponents/gds.css"]">
    <link rel="stylesheet" href="@Assets["FloodOnlineReportingTool.Public.styles.css"]">
    <link rel="stylesheet" href="@Assets["css/app.css"]">
    <ImportMap />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body class="govuk-template__body">
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    <Routes @rendermode="PageRenderMode" />

    <script src="_framework/blazor.web.js"></script>
    <script type="module" src="@Assets["js/app.js"]"></script>
</body>

</html>
