<h2 class="govuk-heading-l">Investigation details</h2>
<dl class="govuk-summary-list">
    @if (ShowWaterSpeed)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">The flooding started</dt>
            <dd class="govuk-summary-list__value">@_beginLabel</dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Speed.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how quickly the flooding started</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Water movement</dt>
            <dd class="govuk-summary-list__value">@_waterSpeedLabel</dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Speed.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how fast the water was moving</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">The water looked</dt>
            <dd class="govuk-summary-list__value">@_appearanceLabel</dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Speed.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> the appearance of the water</span></a>
            </dd>
        </div>
    }

    @if (ShowWaterDestination)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Where the water was going</dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                    @foreach (var label in _destinationLabels)
                    {
                        <li>@label</li>
                    }
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Destination.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> where the water was going</span></a>
            </dd>
        </div>
    }

    @if (ShowDamagedVehicles)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Vehicles damaged</dt>
            <dd class="govuk-summary-list__value">@_vehiclesDamagedMessage</dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Vehicles.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if any vehicles were damaged</span></a>
            </dd>
        </div>
    }

    @if (IsInternal == true && (ShowInternalHow || ShowInternalWhen))
    {
        if (ShowInternalHow)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">How the water entered</dt>
                @if (_entryLabels.Length == 0)
                {
                    <dd class="govuk-summary-list__value">Unknown</dd>
                }
                else
                {
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list">
                            @foreach (var label in _entryLabels)
                            {
                                <li>@label</li>
                            }
                        </ul>
                    </dd>
                }
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.InternalHow.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how the water entered</span></a>
                </dd>
            </div>
        }

        if (ShowInternalWhen)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">When the water entered</dt>
                <dd class="govuk-summary-list__value">@_internalWhen</dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.InternalWhen.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> when the water entered</span></a>
                </dd>
            </div>
        }
    }

    @if (ShowPeakDepth)
    {
        if (_isPeakDepthKnown)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Peak water depth inside</dt>
                <dd class="govuk-summary-list__value">@_peakDepthInsideMessage</dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.PeakDepth.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> peak depth inside</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Peak water depth outside</dt>
                <dd class="govuk-summary-list__value">@_peakDepthOutsideMessage</dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.PeakDepth.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> peak depth outside</span></a>
                </dd>
            </div>
        }
        else
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Peak water depth</dt>
                <dd class="govuk-summary-list__value">@_peakDepthNotKnownMessage</dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.PeakDepth.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> peak depth</span></a>
                </dd>
            </div>
        }
    }

    @if (ShowCommunityImpacts)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Impact on the community</dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                    @foreach (var label in _communityImpactLabels)
                    {
                        <li>@label</li>
                    }
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.CommunityImpact.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how the flooding restricted parts of the community</span></a>
            </dd>
        </div>
    }

    @if (ShowBlockages)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Known problems</dt>
            <dd class="govuk-summary-list__value">@_blockagesKnownProblemsLabel</dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Blockages.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if there are known problems, blockages, or recent repair works</span></a>
            </dd>
        </div>
    }

    @if (ShowActionsTaken)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Actions taken</dt>
            <dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                    @foreach (var label in _actionsTakenLabels)
                    {
                        <li>@label</li>
                    }
                </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.ActionsTaken.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> what actions were taken</span></a>
            </dd>
        </div>
    }

    @if (ShowHistory)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Has a history of flooding</dt>
            <dd class="govuk-summary-list__value">@_historyOfFloodingLabel</dd>
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.History.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if the location has a history of flooding</span></a>
            </dd>
        </div>
    }
</dl>

@if (ShowHelpReceivedWarnings || ShowBeforeFloodingWarnings || ShowWarningSources || (ShowFloodlineWarnings && _isFloodlineWarning))
{
    <h2 class="govuk-heading-l">Warnings</h2>
    <dl class="govuk-summary-list">

        @if (ShowHelpReceivedWarnings)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Help received</dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                        @foreach (var label in @_helpReceivedLabels)
                        {
                            <li>@label</li>
                        }
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.HelpReceived.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> any help you received</span></a>
                </dd>
            </div>
        }

        @if (ShowBeforeFloodingWarnings)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Registered with Floodline</dt>
                <dd class="govuk-summary-list__value">@_registeredWithFloodlineLabel</dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Warnings.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if you are registered to receive floodline warnings</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Other warnings received</dt>
                <dd class="govuk-summary-list__value">@_otherWarningReceivedLabel</dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Warnings.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if you received other warnings</span></a>
                </dd>
            </div>
        }

        @if (ShowWarningSources)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Received warnings from</dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                        @foreach (var label in @_warningSourcesLabels)
                        {
                            <li>@label</li>
                        }
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.WarningSources.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> where you receive warnings from</span></a>
                </dd>
            </div>
        }

        @if (ShowFloodlineWarnings && _isFloodlineWarning)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Timely floodline warning</dt>
                <dd class="govuk-summary-list__value">@_warningTimelyLabel</dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Floodline.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if the floodline warning was timely</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Warning correctly worded</dt>
                <dd class="govuk-summary-list__value">@_warningAppropriateLabel</dd>
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Floodline.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if the warning was worded correctly</span></a>
                </dd>
            </div>
        }
    </dl>
}
