<h2 class="govuk-heading-l">Investigation details</h2>
<dl class="govuk-summary-list">
    @if (ShowWaterSpeed)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">The flooding started</dt>
            @SummaryValueOrMissing(_beginLabel, InvestigationPages.Speed)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Speed.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how quickly the flooding started</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Water movement</dt>
            @SummaryValueOrMissing(_waterSpeedLabel, InvestigationPages.Speed)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Speed.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how fast the water was moving</span></a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">The water looked</dt>
            @SummaryValueOrMissing(_appearanceLabel, InvestigationPages.Speed)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Speed.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> the appearance of the water</span></a>
            </dd>
        </div>
    }

    @if (ShowWaterDestination)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Where the water was going</dt>
            @SummaryValuesOrMissing(_destinationLabels, InvestigationPages.Destination)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Destination.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> where the water was going</span></a>
            </dd>
        </div>
    }

    @if (ShowDamagedVehicles)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Vehicles damaged</dt>
            @SummaryValueOrMissing(_vehiclesDamagedMessage, InvestigationPages.Vehicles)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Vehicles.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if any vehicles were damaged</span></a>
            </dd>
        </div>
    }

    @if (IsInternal == true && (ShowInternalHow || ShowInternalWhen))
    {
        if (ShowInternalHow)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">How the water entered</dt>
                @SummaryValuesOrMissing(_entryLabels, InvestigationPages.InternalHow)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.InternalHow.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how the water entered</span></a>
                </dd>
            </div>
        }

        if (ShowInternalWhen)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">When the water entered</dt>
                @SummaryValueOrMissing(_internalWhen, InvestigationPages.InternalWhen)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.InternalWhen.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> when the water entered</span></a>
                </dd>
            </div>
        }
    }

    @if (ShowPeakDepth)
    {
        if (_isPeakDepthKnown)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Peak water depth inside</dt>
                @SummaryValueOrMissing(_peakDepthInsideMessage, InvestigationPages.PeakDepth)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.PeakDepth.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> peak depth inside</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Peak water depth outside</dt>
                @SummaryValueOrMissing(_peakDepthOutsideMessage, InvestigationPages.PeakDepth)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.PeakDepth.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> peak depth outside</span></a>
                </dd>
            </div>
        }
        else
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Peak water depth</dt>
                @SummaryValueOrMissing(_peakDepthNotKnownMessage, InvestigationPages.PeakDepth)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.PeakDepth.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> peak depth</span></a>
                </dd>
            </div>
        }
    }

    @if (ShowServiceImpacts)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Impact on services</dt>
            @SummaryValuesOrMissing(_serviceImpactLabels, InvestigationPages.ServiceImpact)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.ServiceImpact.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how the flooding impacted services</span></a>
            </dd>
        </div>
    }

    @if (ShowCommunityImpacts)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Impact on the community</dt>
            @SummaryValuesOrMissing(_communityImpactLabels, InvestigationPages.CommunityImpact)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.CommunityImpact.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> how the flooding restricted parts of the community</span></a>
            </dd>
        </div>
    }

    @if (ShowBlockages)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Known problems</dt>
            @SummaryValueOrMissing(_blockagesKnownProblemsLabel, InvestigationPages.Blockages)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Blockages.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if there are known problems, blockages, or recent repair works</span></a>
            </dd>
        </div>
    }

    @if (ShowActionsTaken)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Actions taken</dt>
            @SummaryValuesOrMissing(_actionsTakenLabels, InvestigationPages.ActionsTaken)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.ActionsTaken.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> what actions were taken</span></a>
            </dd>
        </div>
    }

    @if (ShowHistory)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Has a history of flooding</dt>
            @SummaryValueOrMissing(_historyOfFloodingLabel, InvestigationPages.History)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.History.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if the location has a history of flooding</span></a>
            </dd>
        </div>
    }

    @if (ShowInsurance)
    {
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Is the property insured</dt>
            @SummaryValueOrMissing(_propertyInsuredLabel, InvestigationPages.History)
            <dd class="govuk-summary-list__actions">
                <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.History.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if the property is insured</span></a>
            </dd>
        </div>
    }
</dl>

@if (ShowHelpReceivedWarnings || ShowBeforeFloodingWarnings || ShowWarningSources || (ShowFloodlineWarnings && _isFloodlineWarning))
{
    <h2 class="govuk-heading-l">Warnings</h2>
    <dl class="govuk-summary-list">

        @if (ShowHelpReceivedWarnings)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Help received</dt>
                @SummaryValuesOrMissing(_helpReceivedLabels, InvestigationPages.HelpReceived)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.HelpReceived.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> any help you received</span></a>
                </dd>
            </div>
        }

        @if (ShowBeforeFloodingWarnings)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Registered with Floodline</dt>
                @SummaryValueOrMissing(_registeredWithFloodlineLabel, InvestigationPages.Warnings)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Warnings.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if you are registered to receive floodline warnings</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Other warnings received</dt>
                @SummaryValueOrMissing(_otherWarningReceivedLabel, InvestigationPages.Warnings)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Warnings.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if you received other warnings</span></a>
                </dd>
            </div>
        }

        @if (ShowWarningSources)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Received warnings from</dt>
                @SummaryValuesOrMissing(_warningSourcesLabels, InvestigationPages.WarningSources)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.WarningSources.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> where you receive warnings from</span></a>
                </dd>
            </div>
        }

        @if (ShowFloodlineWarnings && _isFloodlineWarning)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Timely floodline warning</dt>
                @SummaryValueOrMissing(_warningTimelyLabel, InvestigationPages.Floodline)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Floodline.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if the floodline warning was timely</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-quarter govuk-!-padding-right-1">Warning correctly worded</dt>
                @SummaryValueOrMissing(_warningAppropriateLabel, InvestigationPages.Floodline)
                <dd class="govuk-summary-list__actions">
                    <a draggable="false" data-prevent-double-click="true" href="@(InvestigationPages.Floodline.Url)?fromSummary=true" class="govuk-link">Change<span class="govuk-visually-hidden"> if the warning was worded correctly</span></a>
                </dd>
            </div>
        }
    </dl>
}

@code {
    private RenderFragment SummaryValueOrMissing(string? label, PageInfo pageInfo)
    {
        var hasFailures = _validationFailures.Exists(failure => failure.CustomState.Equals(pageInfo));
        return hasFailures
            ? @<dd class="govuk-summary-list__value govuk-error-message">missing information</dd>
            : @<dd class="govuk-summary-list__value">@label</dd>;
    }

    private RenderFragment SummaryValuesOrMissing(string[] labels, PageInfo pageInfo)
    {
        var hasFailures = _validationFailures.Exists(failure => failure.CustomState.Equals(pageInfo));
        return hasFailures
            ? @<dd class="govuk-summary-list__value govuk-error-message">missing information</dd>
            : @<dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                    @foreach (var label in labels)
                    {
                        <li>@label</li>
                    }
                </ul>
              </dd>;
    }
}