@page "/test"
@using FloodOnlineReportingTool.Database.Models.Messaging
@using FloodOnlineReportingTool.Public.Authentication
@using FloodOnlineReportingTool.Public.Models
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@GeneralPages.Test.Title</PageTitle>

<h1 class="govuk-heading-xl">@GeneralPages.Test.Title</h1>

@* General information *@
<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">General information</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a role="button" draggable="false" data-prevent-double-click="true" class="govuk-link" data-module="govuk-button" href="" @onclick="FloodReport_Create" @onclick:preventDefault title="Create a test flood report">
                    Create test flood report
                </a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <AuthorizeView>
                <Authorized>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Fort user is signed in</dt>
                        <dd class="govuk-summary-list__value">true</dd>
                        <dd class="govuk-summary-list__actions">
                            <a role="button" draggable="false" data-prevent-double-click="true" class="govuk-link" data-module="govuk-button" href="@($"{AccountPages.SignOut.Url}?returnUrl={GeneralPages.Test.Url}")">Sign Out</a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Fort Name</dt>
                        <dd class="govuk-summary-list__value">@context.User.Identity?.Name</dd>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Fort user is signed in</dt>
                        <dd class="govuk-summary-list__value">false</dd>
                        <dd class="govuk-summary-list__actions">
                            <a role="button" draggable="false" data-prevent-double-click="true" class="govuk-link" data-module="govuk-button" href="@SignInUrl">@AccountPages.SignIn.Title</a>
                        </dd>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </dl>
    </div>
</div>

@* Protected storage *@
<div>
    <AuthorizeView Policy="@PolicyNames.Admin">
        <NotAuthorized>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Protected storage</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <GdsWarning Text="Administrator policy is required" />
                        </div>
                    </dl>
                </div>
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Protected storage</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" draggable="false" href="" @onclick="ProtectedStorage_Refresh" @onclick:preventDefault>Refresh<span class="govuk-visually-hidden"> protected storage information</span></a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        @foreach (var info in _protectedStorageInfos)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">@info.Value.Label</dt>
                                <dd class="govuk-summary-list__value">
                                    @if (info.Value.Exists)
                                    {
                                        <GdsTag Text="Exists" Colour="GdsTagColour.Green" />
                                    }
                                    else
                                    {
                                        <GdsTag Text="Missing" Colour="GdsTagColour.Grey" />
                                    }
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <ul class="govuk-summary-list__actions-list">
                                        <li class="govuk-summary-list__actions-list-item">
                                            @if (info.Value.Exists)
                                            {
                                                <a class="govuk-link" draggable="false" href="" @onclick="() => ProtectedStorage_Delete(info.Key)" @onclick:preventDefault>Delete<span class="govuk-visually-hidden"> protected storage information</span></a>
                                            }
                                            else
                                            {
                                                <a class="govuk-link" draggable="false" href="" @onclick="() => ProtectedStorage_Create(info.Key)" @onclick:preventDefault>Add<span class="govuk-visually-hidden"> protected storage information</span></a>
                                            }
                                        </li>
                                    </ul>
                                </dd>
                            </div>
                        }
                    </dl>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@* Outbox messages *@
<div>
    <AuthorizeView Policy="@PolicyNames.Admin">
        <NotAuthorized>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Outbox messages</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <GdsWarning Text="Administrator policy is required" />
                        </div>
                    </dl>
                </div>
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Outbox messages</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Status</dt>
                            <dd class="govuk-summary-list__value">
                                <GdsTag Text="@($"{_outboxMessageCount} messages")" Colour="GdsTagColour.Blue" />
                                <GdsTag Text="@($"{_outboxMessageCountPending} pending")" Colour="GdsTagColour.Yellow" />
                                <GdsTag Text="@($"{_outboxMessageCountProcessed} processed")" Colour="GdsTagColour.Green" />
                                <GdsTag Text="@($"{_outboxMessageCountFailed} failed")" Colour="GdsTagColour.Red" />
                            </dd>
                            <dd class="govuk-summary-list__actions" style="width: 10%">
                                <ul class="govuk-summary-list__actions-list">
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" draggable="false" href="" @onclick="OutboxMessage_GetCounts" @onclick:preventDefault>Refresh<span class="govuk-visually-hidden"> outbox message counts</span></a>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">FloodReportSourceCreated</dt>
                            <dd class="govuk-summary-list__value">Pending</dd>
                            <dd class="govuk-summary-list__actions" style="width: 10%">
                                <ul class="govuk-summary-list__actions-list">
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" draggable="false" href="" @onclick="() => OutboxMessage_FloodReportSourceCreated_Add(MessageStatus.Pending)" @onclick:preventDefault>Add<span class="govuk-visually-hidden"> flood report source created message with the status of pending</span></a>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">FloodReportSourceCreated</dt>
                            <dd class="govuk-summary-list__value">Failed</dd>
                            <dd class="govuk-summary-list__actions" style="width: 10%">
                                <ul class="govuk-summary-list__actions-list">
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" draggable="false" href="" @onclick="() => OutboxMessage_FloodReportSourceCreated_Add(MessageStatus.Failed)" @onclick:preventDefault>Add<span class="govuk-visually-hidden"> flood report source created message with the status of failed</span></a>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">FloodReportSourceUpdated</dt>
                            <dd class="govuk-summary-list__value">Pending</dd>
                            <dd class="govuk-summary-list__actions" style="width: 10%">
                                <ul class="govuk-summary-list__actions-list">
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" draggable="false" href="" @onclick="() => OutboxMessage_FloodReportSourceUpdated_Add(MessageStatus.Pending)" @onclick:preventDefault>Add<span class="govuk-visually-hidden"> flood report source updated message with the status of pending</span></a>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">FloodReportSourceUpdated</dt>
                            <dd class="govuk-summary-list__value">Failed</dd>
                            <dd class="govuk-summary-list__actions" style="width: 10%">
                                <ul class="govuk-summary-list__actions-list">
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" draggable="false" href="" @onclick="() => OutboxMessage_FloodReportSourceUpdated_Add(MessageStatus.Failed)" @onclick:preventDefault>Add<span class="govuk-visually-hidden"> flood report source updated message with the status of failed</span></a>
                                    </li>
                                </ul>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

@* Notifications *@
<div>
    <AuthorizeView Policy="@PolicyNames.Admin">
        <NotAuthorized>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Notifications</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <GdsWarning Text="Administrator policy is required" />
                        </div>
                    </dl>
                </div>
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Notifications</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Test notification</dt>
                            <dd class="govuk-summary-list__value">
                                @if (string.IsNullOrWhiteSpace(_notificationTestEmailAddress))
                                {
                                    <div>
                                        <GdsTag Text="Missing" Colour="GdsTagColour.Red" /> GovNotify:TestEmail
                                    </div>
                                }
                                else if (!_notificationHasTestNotification)
                                {
                                    <div>
                                        <GdsTag Text="Missing" Colour="GdsTagColour.Red" /> GovNotify:Templates:TestNotification
                                    </div>
                                }
                                else
                                {
                                    <GdsTag Text="Available" Colour="GdsTagColour.Green" />
                                }
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                @if (!string.IsNullOrWhiteSpace(_notificationTestEmailAddress) && _notificationHasTestNotification)
                                {
                                    <ul class="govuk-summary-list__actions-list">
                                        <li class="govuk-summary-list__actions-list-item">
                                            <a class="govuk-link" draggable="false" href="" @onclick="Notifcation_SendTest" @onclick:preventDefault>Send<span class="govuk-visually-hidden"> test notification</span></a>
                                        </li>
                                    </ul>
                                }
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

<div>
    <h2 class="govuk-heading-l">General pages</h2>
    <ul class="govuk-list">
        <li><a class="govuk-link" href="@GeneralPages.Home.Url">@GeneralPages.Home.Title</a></li>
        <li><a class="govuk-link" href="@GeneralPages.Error.Url">@GeneralPages.Error.Title</a></li>
        <li><a class="govuk-link" href="@GeneralPages.AccessDenied.Url">@GeneralPages.AccessDenied.Title</a></li>
    </ul>
</div>

<div>
    <h2 class="govuk-heading-l">Create flood report pages</h2>
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol style="display:flex; flex-wrap:wrap;" class="govuk-breadcrumbs__list">
            @foreach (var info in _floodReportCreatePages)
            {
                string MarkupNote = info.Note != null ? info.Note.ToString(): "";
                <li class= "govuk-breadcrumbs__list-item"><a class= "govuk-breadcrumbs__link" href = "@info.Url"> @info.Title  @((MarkupString)MarkupNote)</a></li>
            }
        </ol>
    </nav>
    <GdsInsetText Text="1. ^ User may pass through one or both pages"></GdsInsetText>
</div>

@* Investigation *@
<div>
    <h2 class="govuk-heading-l">Investigation pages</h2>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Status</h2>
            <ul class="govuk-summary-card__actions">
                <AuthorizeView>
                    <Authorized>
                        @if (_investigationHasStarted == true && _protectedStorageInfos[SessionConstants.Investigation].Exists)
                        {
                            <li class="govuk-summary-card__action">
                                <a href="@InvestigationPages.Summary.Url" class="govuk-link govuk-link--no-visited-state" draggable="false">View<span class="govuk-visually-hidden"> the investigation</span></a>
                            </li>
                        }
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <AuthorizeView>
                    <Authorized>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Investigation started</dt>
                            <dd class="govuk-summary-list__value">@(_investigationHasStarted is null ? "?" : _investigationHasStarted)</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Flood report status</dt>
                            <dd class="govuk-summary-list__value">@(_floodReportStatusText ?? "?")</dd>
                            @if (_investigationHasStarted == false)
                            {
                                <dd class="govuk-summary-list__actions">
                                    <a href="test" class="govuk-link govuk-link--no-visited-state" draggable="false" @onclick="Investigation_ActionNeededStatus" @onclick:preventDefault>Set 'Action needed'<span class="govuk-visually-hidden"> flood report status</span></a>
                                </dd>
                            }
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Last flood report found</dt>
                            <dd class="govuk-summary-list__value">?</dd>
                            <dd class="govuk-summary-list__actions">
                                <a href="@SignInUrl" class="govuk-link govuk-link--no-visited-state" draggable="false">@AccountPages.SignIn.Title</a>
                            </dd>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">In protected storage</dt>
                    <dd class="govuk-summary-list__value">
                        @if (@_protectedStorageInfos[SessionConstants.Investigation].Exists)
                        {
                            <GdsTag Text="Exists" Colour="GdsTagColour.Green" />
                        }
                        else
                        {
                            <GdsTag Text="Missing" Colour="GdsTagColour.Grey" />
                        }
                        
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <ul class="govuk-summary-list__actions-list">
                            @if (_protectedStorageInfos[SessionConstants.Investigation].Exists)
                            {
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" draggable="false" href="" @onclick="() => ProtectedStorage_Delete(SessionConstants.Investigation)" @onclick:preventDefault>Delete<span class="govuk-visually-hidden"> the investigation from protected storage</span></a>
                                </li>
                            }
                            else
                            {
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" draggable="false" href="" @onclick="() => ProtectedStorage_Create(SessionConstants.Investigation)" @onclick:preventDefault>Add<span class="govuk-visually-hidden"> investigation information to protected storage</span></a>
                                </li>
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" draggable="false" href="" @onclick="Investigation_CreateTest" @onclick:preventDefault>Add test data<span class="govuk-visually-hidden"> investigation information to protected storage</span></a>
                                </li>
                            }
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
            @foreach (var info in _investigationPages)
            {
                <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@info.Url">@info.Title @info.Note</a></li>
            }
        </ol>
    </nav>
</div>

<div>
    <h2 class="govuk-heading-l">Account pages</h2>
    <ul class="govuk-list">
        @foreach (var info in _accountPages)
        {
            <li><a class="govuk-link" href="@info.Url">@info.Title @info.Note</a></li>
        }
    </ul>
</div>

<div>
    <h2 class="govuk-heading-l">User pages</h2>
    <p>Secured pages</p>
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@FloodReportPages.Overview.Url">@FloodReportPages.Overview.Title</a></li>
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@ContactPages.Summary.Url">@ContactPages.Summary.Title</a></li>
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@ContactPages.Create.Url">@ContactPages.Create.Title</a></li>
        </ol>
    </nav>
</div>
