@page "/floodreport/investigation/serviceimpact"
@using FloodOnlineReportingTool.Database.Models.Status
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>@InvestigationPages.ServiceImpact.Title</PageTitle>

<GdsBackLink Href="@PreviousPage.Url" />

<h1 class="govuk-heading-xl">@InvestigationPages.ServiceImpact.Title</h1>

<AuthorizeView Context="authContext">
    <NotAuthorized>
        <AccessDenied />
    </NotAuthorized>
    <Authorized>
        <EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit" FormName="InvestigationServiceImpact">
            <FluentValidationValidator />
            <GdsErrorSummary />

            <GdsSpinner Show="_isLoading" ShowMessage="true" />

            @if (!_isLoading)
            {
                if (Model.ImpactedServicesOptions.Count <= 0 || _wereServicesImpactedOptions.Count <= 0)
                {
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> <span>The service impact options are missing, please refresh and try again. If this message continues to appear please raise a bug report.</span>
                    </p>
                }
                else
                {
                    <GdsFormGroup For="() => Model.WereServicesImpactedId">
                        <InputRadioGroup @bind-Value="Model.WereServicesImpactedId">
                            <GdsFieldsetGroup>
                                <Heading>
                                    <h2 class="govuk-fieldset__heading">Were services affected by the flooding?</h2>
                                </Heading>
                                <Content>
                                    <GdsHint>Select one option.</GdsHint>
                                    <GdsErrorMessage />
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        @foreach (var option in _wereServicesImpactedOptions)
                                        {
                                            var conditionalId = option.Value == RecordStatusIds.Yes ? "were-services-impacted-yes" : null;
                                            <GdsRadio Option="option" ConditionalId="@conditionalId" />
                                            if (conditionalId is not null)
                                            {
                                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="@conditionalId">
                                                    <GdsFormGroup For="() => Model.ImpactedServicesOptions">
                                                        <GdsFieldsetGroup>
                                                            <Heading>
                                                                <h2 class="govuk-fieldset__heading">What services were affected?</h2>
                                                            </Heading>
                                                            <Content>
                                                                <GdsHint>Select all that apply</GdsHint>
                                                                <GdsErrorMessage />
                                                                <GdsCheckboxes Options="Model.ImpactedServicesOptions" Name="services-impacted" />
                                                            </Content>
                                                        </GdsFieldsetGroup>
                                                    </GdsFormGroup>
                                                </div>
                                            }
                                        }
                                    </div>
                                </Content>
                            </GdsFieldsetGroup>
                        </InputRadioGroup>
                    </GdsFormGroup>

                    <p><button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">Continue</button></p>
                }
            }
        </EditForm>
    </Authorized>
</AuthorizeView>
